body {
  background-image: url('../public/images/juliana-kozoski-IoQioGLrz3Y-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.generalContainer {
  /* background-image: url('../public/images/juliana-kozoski-IoQioGLrz3Y-unsplash.jpg'); */
  background-image: url("../public/images/william-navarro-82Xsw-pGsJI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 15px;
  padding: 25px;
}

.componentsContainer {
  background: hsl(0, 0%, 0%, 0.5);
  border-radius: 15px;
  padding: 15px;
}

.countriesList {
  max-height: 100vh;
  overflow-y: scroll;
  height: 60vh;
}

.countriesList a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

